In this file, we analyze what the top 10 causes of calls to 311 are in our chosen ZIP code, and calculate how many total incidents of each of these 10 types there have been in the year 2020.

In [1]:
import os
import pandas as pd

In [2]:
# import file
cwd = os.getcwd()
file_dir = cwd + '/311_Service_Requests_2020.csv'
df = pd.read_csv(file_dir)
df.head(3)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (20,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,45285347,01/01/2020 12:00:00 AM,01/10/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Restaurant/Bar/Deli/Bakery,11229.0,3442 NOSTRAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.600129,-73.941843,"(40.6001292057807, -73.94184291675883)"
1,45285651,01/01/2020 12:00:00 AM,01/02/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,10458.0,2701 DECATUR AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.864866,-73.888783,"(40.86486556770799, -73.88878325729915)"
2,45285821,01/01/2020 12:00:00 AM,01/02/2020 09:50:09 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Other (Explain Below),11203.0,5707 CHURCH AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.652536,-73.923540,"(40.65253575905768, -73.92353994017134)"

In [3]:
# extract data in our ZIP code (10025)
df1 = df[df['Incident Zip'] == 10025.0]
df1.head(3)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
11,45278238,01/01/2020 12:01:46 AM,01/01/2020 05:37:46 AM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,NaN,10025.0,865 COLUMBUS AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.796930,-73.964551,"(40.79692992181987, -73.96455113216999)"
141,45278928,01/01/2020 12:36:42 AM,01/01/2020 01:19:30 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10025.0,118 WEST 109 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.801499,-73.962255,"(40.80149916419462, -73.96225510969452)"
463,45282069,01/01/2020 01:37:02 AM,01/01/2020 01:55:21 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10025.0,120 WEST 109 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.801516,-73.962295,"(40.801515645553465, -73.96229483182476)"

In [4]:
# analyze the top 10 causes of calls to 311
top10 = df1['Complaint Type'].value_counts().head(10)
top10

Noise - Residential            2952
Noise - Street/Sidewalk        2128
HEAT/HOT WATER                 1885
Noise                          1131
Illegal Parking                 792
Noise - Vehicle                 787
Non-Emergency Police Matter     773
Rodent                          691
Illegal Fireworks               672
UNSANITARY CONDITION            565
Name: Complaint Type, dtype: int64